// Windows basic resources definitions
#include <winresrc.h>

// Version informations
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS (VS_FF_PRERELEASE|VS_FF_PRIVATEBUILD)
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"    // Language + codepage in hexadecimal (see further down)
        BEGIN
            VALUE "CompanyName",      "Youka"
            VALUE "FileDescription",  "Simple game quickly done."
            VALUE "FileVersion",      "1.0.0"
            VALUE "InternalName",     "Space Shooter"
            VALUE "LegalCopyright",   "2017, Christoph Spanknebel"
            VALUE "OriginalFilename", "Space_Shooter.exe"
            VALUE "PrivateBuild",     "School project"
            VALUE "ProductName",      "Space Shooter"
            VALUE "ProductVersion",   "1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252    // English language (0x409) with ANSI codepage (1252)
    END
END

// Application icon
0 ICON "app.ico"